
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/stepic_auto_tests.iml
.idea/vcs.xml
.idea/workspace.xml
/environments
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
